# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache
__pycache__/
*.py[cod]

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Virtualenv
/venv/
/.venv/
pip-selfcheck.json
pip-log.txt 